.menuButton {
  background: linear-gradient(
    90deg,
    rgba(8, 8, 113, 1) 0%,
    rgba(19, 206, 227, 1) 100%
  );
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.8) !important;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  transform: translate(0, 0) scale(1, 1) !important;
  &:hover {
    box-shadow: -8px 8px 10px 0px rgba(0, 0, 0, 0.8) !important;
    transform: translate(10px, -10px) scale(1.05) !important;
  }
}

.iconMenuButton {
  background: linear-gradient(
    90deg,
    rgba(8, 8, 113, 1) 0%,
    rgba(19, 206, 227, 1) 100%
  );
  box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 1) !important;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  transform: translate(0, 0) scale(1, 1) !important;
  &:hover {
    box-shadow: -7px 7px 10px 0px rgba(0, 0, 0, 0.8) !important;
    transform: translate(5px, -5px) scale(1.05) !important;
  }
}
